/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: var(--color-baggrundsfarve);
}

/*************** Primærfarver *********************/
:root {
  --color-baggrundsfarve: #ffffff;
  --color-card: #8bafcb;
}

/*************** Overskrift og underskrift *********************/
h1 {
  font-size: 3rem;
  font-family: sans-serif;
  margin-left: 1rem;
}

.bogstavsfarve {
  font-size: 3rem;
  font-family: sans-serif;
  color: #8bafcb;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-family: sans-serif;
  margin-top: 4rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

/*************** Categories *********************/

.grid1-3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 0.5rem;
}

.grid1-3 a {
  font-family: sans-serif;
  color: white;
}

.card1 {
  background-color: var(--color-card);
  padding: 25px;
  max-width: 250px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  color: black;
}

.card2 {
  background-color: var(--color-card);
  padding: 25px;
  max-width: 250px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  color: black;
}

.card3 {
  background-color: var(--color-card);
  padding: 25px;
  max-width: 250px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  color: black;
}
.card4 {
  background-color: var(--color-card);
  padding: 25px;
  max-width: 250px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  color: black;
}
.card5 {
  background-color: var(--color-card);
  padding: 25px;
  max-width: 250px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  color: black;
}
.card6 {
  background-color: var(--color-card);
  padding: 25px;
  max-width: 250px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  color: black;
}

/*************** Produktlist *********************/

a {
  text-decoration: none;
  color: black;
}

.card {
  max-width: 800px;
  margin: 0 auto;
}

.product-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-template-rows: auto auto auto auto;
  gap: 12px;
}

.product-card {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 4;
  padding: 12px;
  background: #ffffff;
  border: solid #8bafcb 2px;
}

.tesktogpris h3 {
  flex: 1;
  font-size: 1rem;
  font-family: sans-serif;
}

.tesktogpris {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.price {
  font-family: sans-serif;
  margin: 0 0 8px;
}

.brand {
  font-size: 1rem;
  font-family: sans-serif;
  color: #555;
  margin-top: 4px;
  opacity: 0.8;
  margin: 0 0 12px;
}

/*************** Produkt cards *********************/

.information {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.knap {
  display: block;
  width: 99%;
  background-color: #464646;
  color: white;
  padding: 12px;
  font-size: 1rem;
  font-family: sans-serif;
  color: white;
  margin: 0 auto;
}
.knap:hover {
  background-color: #000;
}

.text {
  padding: 10px;
}
.text h3 {
  font-family: sans-serif;
  font-size: 1.5rem;
  margin: 0 0 8px;
}

.lagerstatus {
  font-family: sans-serif;
  font-size: 0.9rem;
  color: #2e7d32;
  margin-bottom: 24px;
}

/*************** Categories grid *********************/
@media screen and (min-width: 800px) {
  .grid1-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
    margin: 0 auto;
  }

  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }

  /*************** product grid *********************/
  .information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 120px;
  }

  .information img {
    width: 100%;
  }
}
